{% extends "base.html.twig" %}

{% block title %}Merci d'avoir envoyé un fichier{% endblock %}

{% block head %}
    <h2>Merci pour votre fichier</h2>
{% endblock %}
{% block content %}
    <hr/>
    <h3>Contenu du dossier</h3>
    <h4>v/upload</h4>
    <hr/>
    <p>
    {% for val in affiche %}
        {{val}}<br/>
    {% endfor%}
    </p>
    <h3><a href="./">Retour</a> au formulaire</h3>
{% endblock %}
{% block footer %}
    <hr/><p>Pied de page</p>
{% endblock %}